@use "global";
@use "header";
@use "trend";
@use "featured";
@use "newsletter";
@use "footer";

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");

/* title */
.title {
  margin: 30px 0;
}

.title h2 {
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 600;
  padding: 5px 0;
  color: var(--blackRussian);
}
/*********/

@media screen and (min-width: 768px) {
  .trend-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }
  .trend-item {
    margin: 0;
  }
  .featured-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .featured-item:nth-child(even) .featured-item-img {
    order: 2;
  }
  .newsletter-content {
    .form {
      width: 500px;
    }
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 5rem 10rem;
  }
  .head-body-content {
    flex: 1;
    height: auto;
    align-items: flex-start;
    text-align: left;
  }
  .head-body-img {
    flex: 1;
  }
  .head-body-img img {
    width: 100%;
  }
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1150px) {
  .trend-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .featured-item {
    grid-gap: 20px;
  }
  .newsletter-content {
    flex-direction: column;
  }
  .footer {
    text-align: center;
    &-icons {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .trend-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .featured-item {
    grid-gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  .head-top {
    flex-direction: column;
  }
  .head-icon:first-child {
    margin-left: 0;
  }
  .brand-name {
    margin-bottom: 20px;
  }
  .head-body-content h1 {
    font-size: 30px;
  }
  .head-body-content p {
    display: none;
  }
  .head-body.container {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
  .featured-btns {
    display: flex;
    flex-direction: column;
  }
  .featured-btns button {
    width: 100%;
    margin: 8px 0 !important;
  }
  .form-control,
  .subscribe-btn {
    font-size: 16px;
  }
  .form-control {
    width: 255px;
  }
}
